<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <!-- Favicon -->
         <link rel="shortcut icon" type="image/x-icon" href="~/assetsLanging/img/favicon.ico">
    
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet" />

    <!-- Icons -->
    <link rel="stylesheet" href="~/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="~/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="~/assets/vendor/js/helpers.js"></script>

    <!-- Template Customizer & Theme Config -->
    <script src="~/assets/js/config.js"></script>
</head>

<body>
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->
            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">
                    <a href="index.html" class="app-brand-link">
                        <span class="app-brand-logo demo">
                            <!-- Brand Logo -->
                        </span>
                        <span class="app-brand-text demo menu-text fw-bolder ms-2"><img src="~/assets/img/logo.png" /></span>
                    </a>

                    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                        <i class="bx bx-chevron-left bx-sm align-middle"></i>
                    </a>
                </div>

                <div class="menu-inner-shadow"></div>

                <ul class="menu-inner py-1" id="menu">
                    <li class="menu-item">
                        <a asp-area="" asp-controller="DashBoarde" asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-layout"></i>
                            <div data-i18n="Layouts">Dashboards</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a asp-area="" asp-controller="Users" asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-user"></i>
                            <div data-i18n="Layouts">Users</div>
                        </a>
                    </li>
                    <li class="menu-header fw-medium mt-4"><span class="menu-header-text">Components</span></li>

                    <li class="menu-item">
                        <a asp-area="" asp-controller="Categories" asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-category"></i>
                            <div data-i18n="Account Settings">Categories</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a asp-area="" asp-controller="AdminProducts" asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-box"></i>
                            <div data-i18n="Authentications">Products</div>
                        </a>
                    </li>
                    <li class="menu-header fw-medium mt-4"><span class="menu-header-text">Components</span></li>

                    <li class="menu-item">
                        <a asp-area="" asp-controller="EventCategories1" asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-category"></i>
                            <div data-i18n="Account Settings">EventCategories</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a asp-area="" asp-controller="Events" asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-box"></i>
                            <div data-i18n="Authentications">Events</div>
                        </a>
                    </li>
                    <li class="menu-header fw-medium mt-4"><span class="menu-header-text">Components</span></li>

                    <li class="menu-item">
                        <a asp-area="" asp-controller="Testimonials" asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-comment-dots"></i>
                            <div data-i18n="Misc">Testimonials</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a asp-area="" asp-controller="Orders" asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-cart"></i>
                            <div data-i18n="Misc">Orders</div>
                        </a>
                    </li>
                    <li class="menu-header fw-medium mt-4"><span class="menu-header-text">Components</span></li>

                    <li class="menu-item">
                        <a asp-area="" asp-controller="Codes" asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-tag"></i>
                            <div data-i18n="Misc">Discount Codes</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a asp-area="" asp-controller="Account" asp-action="Logout" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-log-out"></i>
                            <div data-i18n="Misc">Logout</div>
                        </a>
                    </li>
                </ul>
            </aside>

            <!-- Layout Page -->
            <div class="layout-page">
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>

    <!-- Core JS -->
    <script src="~/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="~/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/assets/vendor/js/bootstrap.js"></script>
    <script src="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/assets/vendor/js/menu.js"></script>

    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>

    <!-- Page JS -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <!-- Custom Scripts -->
    @RenderSection("Scripts", required: false)
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const menu = document.getElementById("menu");
            const links = menu.querySelectorAll(".menu-link");

            function setActiveLink(link) {
                links.forEach(item => item.parentElement.classList.remove("active", "open"));
                link.parentElement.classList.add("active", "open");
            }

            links.forEach(link => {
                link.addEventListener("click", function () {
                    setActiveLink(this);
                });

                if (link.href === window.location.href) {
                    setActiveLink(link);
                }
            });
        });
    </script>
</body>

</html>
