<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Favicon  -->
       <link rel="shortcut icon" type="image/x-icon" href="~/assetsLanging/img/favicon.ico">
   
    <!-- Core Style CSS -->
    <link rel="stylesheet" href="~/assets2/css/core-style.css">
    <link rel="stylesheet" href="~/assets2/style.css">
    <style>
        /* Ensure that the navigation links are styled initially */
        .amado-nav a {
            color: #000; /* Default text color */
            text-decoration: none; /* Remove underline */
            transition: color 0.3s ease; /* Smooth transition for color change */
        }

            /* Change color on hover */
            .amado-nav a:hover {
                color: #331391; /* Hover color */
            }
    </style>
</head>
<body>
    <div>
        <!-- Search Wrapper Area Start -->
        <div class="search-wrapper section-padding-100">
            <div class="search-close">
                <i class="fa fa-close" aria-hidden="true"></i>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="search-content">
                            <form action="#" method="get">
                                <input type="search" name="search" id="search" placeholder="Type your keyword...">
                                <button type="submit"><img src="img/core-img/search.png" alt=""></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Search Wrapper Area End -->
        <!-- ##### Main Content Wrapper Start ##### -->
        <div class="main-content-wrapper d-flex clearfix">

            <!-- Mobile Nav (max width 767px)-->
            <div class="mobile-nav">
                <!-- Navbar Brand -->
                <div class="amado-navbar-brand">
                    <a href="index.html"><img src="~/assets2/img/logo.png" /></a>
                </div>
                <!-- Navbar Toggler -->
                <div class="amado-navbar-toggler">
                    <span></span><span></span><span></span>
                </div>
            </div>

            <!-- Header Area Start -->
            <header class="header-area clearfix" style="width: 100px;">
                <!-- Close Icon -->
                <div class="nav-close">
                    <i class="fa fa-close" aria-hidden="true"></i>
                </div>
                <!-- Logo -->
                <div class="logo">
                    <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/assets2/img/logo.png" /></a>
                </div>
                <!-- Amado Nav -->
                <nav class="amado-nav">
                    <ul>
                        <li class="active"><a asp-area ="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="EventPage" asp-action="Index">Event</a></li>
                        <li><a asp-area="" asp-controller="Products" asp-action="Index" >Product</a></li>
                        <li><a asp-area="" asp-controller="Cart1" asp-action="Index">Cart</a></li>
                        <li><a asp-area="" asp-controller="Checkout" asp-action="Checkout">Checkout</a></li>
                    </ul>
                </nav>
                <!-- Button Group -->
                <div class="amado-btn-group mt-30 mb-100">
                    <a style="background-color:#331391 " asp-area="" asp-controller="Account" asp-action="Register" class="btn amado-btn mb-15">Create Account</a>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn amado-btn active">New this week</a>
                </div>
               
                <!-- Social Button -->
                <div class="social-info d-flex justify-content-between">
                    <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>
            </header>

            <!-- Header Area End -->
            @RenderBody()
        </div>

  
        
            <!-- ##### Footer Area Start ##### -->
        <footer style="background:#26264b !important; padding: 30px 0;" class="footer_area clearfix">
            <div class="container">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-12">
                        <div class="footer-copy-center text-center">
                            <p style="color:floralwhite">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a style="color:floralwhite" href="https://colorlib.com" target="_blank">Hellen Aljezzawi</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </footer>

        <!-- ##### Footer Area End ##### -->
            <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
            <script src="~/assets2/js/jquery/jquery-2.2.4.min.js"></script>
            <!-- Popper js -->
            <script src="~/assets2/js/popper.min.js"></script>
            <!-- Bootstrap js -->
            <script src="~/assets2/js/bootstrap.min.js"></script>
            <!-- Plugins js -->
            <script src="~/assets2/js/plugins.js"></script>
            <!-- Active js -->
            <script src="~/assets2/js/active.js"></script>
</body>
</html>
